<h1>Disciplinas</h1>
<hr>
<table>
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>Descrição</th>
  </tr>
  <tr *ngFor="let disciplina of disciplinas">
    <td>{{disciplina.cod}}</td>
    <td>{{disciplina.nome}}</td>
    <td [class.selecionado]="selecionado == disciplina"> 
      <input class="button" type="submit" value="Detalhes" (click)="selecionar(disciplina)">
    </td>
  </tr>
</table>
<div *ngIf="selecionado != null" class="card">
        <h2>{{selecionado.nome}}</h2>
        <p><strong>Professor:</strong> {{selecionado.professor.nome}}</p>
        <p><strong>Descrição: </strong> {{selecionado.descricao}}</p>
</div>